$containerWidth: 940px;
$baseFontSize: 16px;

//brakepoints
$tablets: 768px;
$phones: 480px;

@import "media";
//normalize
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
@import "layout";

//components
@import "components/hero";
@import "components/hero-section";
@import "components/header";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/reviews-section";
@import "components/delivery";
@import "components/form";
@import "components/radio";
@import "components/fixed-menu";
@import "components/contacts-section";
@import "components/map";
@import "components/footer";
@import "components/socials";
@import "components/sprite";
@import "components/menu";
@import "components/phone-number";
@import "components/hamburger";
