.delivery-section {
  background: url(../img/background-imgs/delivery-bg.png) 0 0/100% 100% no-repeat;
  color: #fff;
  position: relative;

  &::before {
    content: url(../img/background-imgs/Polygon.svg);
    position: absolute;
    right: 5%;
    top: rem(-23px);
  }
}

.delivery-section__title {
  margin-bottom: rem(52px);
  margin-top: rem(29px);
  
  @include tablets {
    margin-bottom: rem(20px);
  }

  @include phones {
    margin-bottom: rem(32px);
  }
}