.footer {
  // flex: 1;
  position: absolute;
  bottom: 0;
  background: #fff;
  padding: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts-adress {
  font-size: 1.125rem;

  @include tablets {
    font-size: 21px;
  }
}