.hero {
  background: url(../img/decor/Ellipse\ 5.svg) right 15% center no-repeat;
  background-color: #F5F5F5;
  height: 100vh;
  min-height: rem(650px);
  color: #292929;

  @include tablets {
    background: url(../../img/decor/Ellipse-768.svg) top 32% center no-repeat;
    background-color: #F5F5F5;
  }
  
  @include phones {
    background: none;
    background-color: #F5F5F5;
    
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: rem(24px);
  padding-bottom: rem(70px);
}

.hero__title-section {
  width: 40%;

  @include tablets {
    width: 100%;
    padding: 0 rem(15px) rem(12px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
}

.hero_bg {
  width: 100%;
  height: rem(323px);
  background: url(../../img/decor/Ellipse-768.svg) center center no-repeat;
  background-size: contain;
  display: none;

  @include phones {
    display: block;
    margin-bottom: rem(49px);
  }
}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: rem(18px);
  text-transform: uppercase;

  @include tablets {
    margin-bottom: rem(3px);
  }

  @include phones {
    font-size: rem(32px);
    padding: 0 rem(13px);
    margin-bottom: rem(16px);
    line-height: 36px;
  }
}

.hero__title-desc {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem(21px);
  margin-bottom: rem(36px);
  padding-right: 10%;
  line-height: 1.2;

  @include tablets {
    padding: 0 rem(149px);
    margin-bottom: rem(28px);
  }

  @include phones {
    padding: 0 rem(40px);
    margin-bottom: rem(21px);
    line-height: 20px;
  }
}

.hero__title__btn {
  @include tablets {
    margin-bottom: rem(26px);
  }

  @include phones {
    margin-bottom: rem(43px);
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}