.map {

  @include phones {
    flex: 1;
  }
}

.map__img {
  object-fit: contain;
  // max-width: none;
  height: 100%;
  width: 100%;
  
  @include phones {
    max-width: none;
    height: auto;
    width: auto;
  }
}