.menu {
  margin: 0 rem(21px);
  padding-top: rem(2px);

  @include tablets {
    display: none;
  }

  &--vertical {
    display: block;
    margin-top: rem(137px);

  }

}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem(18px);

  &--vertical {
    flex-direction: column;
    // text-align: center;
    font-size: rem(36px);
    line-height: rem(64px);
    color: #fff;
    font-family: 'Play', sans-serif;
  }
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(10px);

  &--vertical {
    margin: 0;
    line-height: rem(72px);
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}