.shop-section {
  background: #F8FAF9;
}

.shop-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 985px;
  
  
  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
    
  }
}