.socials {
  transform: translateX(20px);

  @include tablets {
    transform: translateX(-30px);
  }

  @include phones {
    transform: initial;
  }
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 0.625rem;

  @include phones {
    margin-right: rem(14px);
  }

  &:last-child {
    margin-right: 0;
  }
}