
.team-section {
  position: relative;

  &::before {
    position: absolute;
    content:'';
    background: #000;
    height: 30px;
    width: 30px;
    top: -7px;
    right: 5%;
    transform: rotate(28deg);
  }
}


.team__list {
  display: flex;
  flex-direction: row;
}