.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: rem(17px);
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: rem(18px);
  margin-top: rem(8px);
}

.menu__item {
  margin-right: rem(27px);

  // &:last-child {
  //   margin-right: 0;
  // }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: rem(24px);
}

.phone-number-icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}