.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 17px;
}

.menu__list {
  display: flex;
  align-items: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  margin-top: 8px;
}

.menu__item {
  margin-right: 27px;

  // &:last-child {
  //   margin-right: 0;
  // }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.phone-number-icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}