.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 15px;
}

.benefit__image-wrapepr {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  height: 68px;
  width: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 3px;
}

.benefit_desc {
  padding: 0 6%;

  p {
    line-height: 1.2;
  }
}