.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(11px);
}

.form__block {
  flex: 1;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: rem(3px) solid transparent;
  padding: rem(18px) rem(12px) rem(20px);
  border-radius: rem(4px);

  &:focus {
    border-color: red;
    outline: none;
  }

  &--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(23px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  padding-left: rem(7px);
  margin-bottom: rem(19px);

  &:last-child {
    margin-bottom: 0;
  }
}